.example-form-field {
    width: 200px;
}

mat-grid-tile {
    background: lightblue;
}

.title {
    text-align: center;
}

.noresults{
    text-align: center;
    color: red;
    padding-top: 30vh;
}
  